*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
header{
  background-color: #C4C4C4;
  width: 100%;
  height: 216px;
  padding: 1rem;
}

header h1{
  font-size: 4.5rem;
  margin-bottom: 8px;
}
header h3{
  font-size: 1.875rem;
}

nav{
  background-color: #505050;
}
nav ul{
  display: flex;
  list-style: none;
  padding: 1rem;
}
nav ul li{
  display: flex;
  /* padding: 0.5rem 0.75rem; */
}
nav ul li a{
  padding: 0.5rem 0.75rem;
  color: #888888;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.5s ease;
}
nav ul li a:hover{
    color: white;
}

main{
  display: flex;
}

section.left, section.right{
  padding: 1.5rem
}
section.right h4{
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

section.right{
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.left p, section.right p{
  margin-bottom: 1rem;
}
iframe{
  margin-top: 1rem;
}

.active{
  color:  white;
}
